@font-face {
  font-family: P4;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: P5;
  src: url(../../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: P6;
  src: url(../../assets/fonts/Poppins-SemiBold.ttf);
}
:root {
  --primary-color: #263238;
  --secondary-color: #8F95A5;
  --third-color: #000;
  --primary-bg: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: P4;
}

.container {
  max-width: 1402px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 575px) {
  .container {
    padding: 0 32px;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

.title_big {
  font-family: P6;
  font-size: 24px;
  line-height: 36px;
  color: var(--third-color);
}

.title {
  font-family: P6;
  font-size: 24px;
  line-height: 34px;
  color: var(--third-color);
}

.btn_big {
  display: block;
  font-family: P5;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.btn {
  display: block;
  font-family: P5;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.desc_big {
  display: block;
  font-family: P4;
  font-size: 14px;
  line-height: 21px;
  color: var(--secondary-color);
}

.desc {
  display: block;
  font-family: P4;
  font-size: 14px;
  line-height: 21px;
  color: var(--secondary-color);
}

.card_title {
  display: block;
  font-family: P6;
  font-size: 18px;
  line-height: 28px;
  color: var(--third-color);
}

@media (min-width: 575px) {
  .title_big {
    font-size: 34px;
    line-height: 45px;
  }
  .title {
    font-size: 30px;
    line-height: 38px;
  }
  .btn_big {
    font-size: 18px;
    line-height: 27px;
  }
  .desc_big {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .title_big {
    font-size: 36px;
  }
  .btn_big {
    font-family: P4;
  }
  .btn {
    font-size: 16px;
    line-height: 24px;
  }
  .card_title {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .title_big {
    font-size: 48px;
    line-height: 64px;
  }
  .title {
    font-size: 36px;
    line-height: 46px;
  }
  .btn_big {
    font-size: 24px;
    line-height: 36px;
  }
  .btn {
    font-size: 18px;
    line-height: 27px;
  }
  .desc_big {
    font-size: 20px;
    line-height: 30px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
  }
  .card_title {
    font-size: 22px;
    line-height: 34px;
  }
}
@media (min-width: 1280px) {
  .title_big {
    font-size: 64px;
    line-height: 80px;
  }
  .title {
    font-size: 48px;
    line-height: 60px;
  }
  .btn_big {
    font-size: 36px;
    line-height: 54px;
  }
  .btn {
    font-size: 20px;
    line-height: 30px;
  }
  .desc_big {
    font-size: 24px;
    line-height: 36px;
  }
  .desc {
    font-size: 20px;
    line-height: 30px;
  }
  .card_title {
    font-size: 30px;
    line-height: 48px;
  }
}
.site_header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.header_nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav_logo, .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_nav_logo img, .logo img {
  width: 71px;
}

.header_nav_list {
  display: none;
}

.header_nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_nav_menu img {
  width: 33.53px;
}

.header_nav_btn {
  display: none;
}

@media (min-width: 575px) {
  .header_nav {
    height: 90px;
  }
  .header_nav_logo img, .logo img {
    width: 89px;
  }
  .header_nav_menu img {
    width: 43.35px;
  }
}
@media (min-width: 768px) {
  .header_nav_menu img {
    width: 30px;
  }
}
@media (min-width: 992px) {
  .header_nav {
    position: relative;
  }
  .header_nav_logo img, .logo img {
    width: 71px;
  }
  .header_nav_list {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .header_nav_item span {
    color: var(--primary-color);
  }
  .header_nav_menu {
    display: none;
  }
  .header_nav_btn {
    display: flex;
    min-height: 50px;
    padding: 0 40px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: P4;
    font-size: 18px;
    line-height: 27px;
    color: var(--third-color);
  }
}
@media (min-width: 1280px) {
  .header_nav {
    height: 120px;
  }
  .header_nav_logo img, .logo img {
    width: 106px;
  }
  .header_nav_list {
    gap: 28px;
  }
  .header_nav_btn {
    height: 70px;
    font-size: 24px;
    line-height: 36px;
  }
}
.hero_wrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 80px;
}

.hero_image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 424px;
}

.hero_title {
  text-align: center;
  margin-bottom: 20px;
}

.hero_desc {
  text-align: center;
  margin-bottom: 35px;
}

.hero_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_get_start_btn {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) {
  .hero_wrapper {
    padding-top: 0;
    padding-bottom: 121px;
  }
  .hero_image {
    max-width: 500px;
  }
  .hero_title {
    margin-bottom: 25px;
  }
  .hero_desc {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .hero_get_start_btn {
    width: auto;
    padding: 0 101px;
  }
}
@media (min-width: 575px) {
  .hero_get_start_btn {
    min-height: 75px;
  }
}
@media (min-width: 768px) {
  .hero_wrapper {
    padding-top: 45px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 61px;
  }
  .hero_image {
    order: 2;
    width: 50%;
  }
  .hero_content {
    order: 1;
    width: 50%;
  }
  .hero_title {
    width: 70%;
    text-align: start;
  }
  .hero_desc {
    width: 90%;
    text-align: start;
    margin: 0;
    margin-bottom: 32px;
  }
  .hero_btn_wrapper {
    justify-content: flex-start;
  }
  .hero_get_start_btn {
    padding: 0 67px;
    min-height: 65px;
  }
}
@media (min-width: 992px) {
  .hero_wrapper {
    gap: 40px;
    padding-bottom: 47px;
  }
  .hero_get_start_btn {
    padding: 0 78px;
    min-height: 80px;
  }
}
@media (min-width: 1280px) {
  .hero_wrapper {
    padding-top: 60px;
    gap: 100px;
    padding-bottom: 104px;
  }
  .hero_image {
    max-width: 661px;
  }
  .hero_title {
    margin-bottom: 40px;
  }
  .hero_desc {
    margin-bottom: 61px;
  }
  .hero_get_start_btn {
    padding: 0 117px;
    min-height: 118px;
    border-radius: 15px;
  }
}
.skills_wrapper {
  margin-bottom: 70px;
}

.skills_title {
  text-align: center;
  margin-bottom: 60px;
}

.skills_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 21px;
}

.skills_card {
  padding: 16px 16px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #F5F5F5;
}

.skills_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_card_image img {
  max-width: 100%;
}

.skills_card_title {
  margin-bottom: 16px;
}

.skills_card_desc {
  margin-bottom: 28px;
}

.skills_card_btn {
  min-height: 50px;
  padding: 0 43px;
}

@media (min-width: 550px) {
  .skills_wrapper {
    margin-bottom: 90px;
  }
  .skills_cards {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 33px;
  }
  .skills_card {
    min-height: 535px;
    padding: 16px 16px 36px;
    gap: 24px;
  }
  .skills_card_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .skills_card_desc {
    width: 90%;
  }
  .skills_card_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills_card_btn {
    padding: 0 64px;
  }
}
@media (min-width: 768px) {
  .skills_wrapper {
    margin-bottom: 70px;
  }
  .skills_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .skills_card {
    min-height: 210px;
    border-radius: 10px;
  }
  .skills_card_desc {
    width: 100%;
  }
  .skills_card:nth-child(1) {
    grid-row: 1/3;
  }
  .skills_card:nth-child(4) {
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0;
  }
  .skills_card:nth-child(4) .skills_card_image {
    order: 2;
    width: 45%;
  }
  .skills_card:nth-child(4) .skills_card_body {
    order: 1;
    width: 55%;
    display: flex;
    flex-direction: column;
  }
  .skills_card:nth-child(4) .skills_card_desc {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .skills_card:nth-child(4) .skills_card_btn_wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .skills_card {
    padding: 26px 21px;
  }
  .skills_card_title {
    margin-bottom: 14px;
  }
  .skills_card_desc {
    margin-bottom: 18px;
  }
  .skills_card_btn_wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .skills_card_btn {
    padding: 0 43px;
  }
}
@media (min-width: 992px) {
  .skills_wrapper {
    margin-bottom: 106px;
  }
  .skills_cards {
    gap: 13px;
  }
  .skills_card {
    padding: 12px 28px 52px 28px;
  }
  .skills_card_btn {
    min-height: 57px;
  }
}
@media (min-width: 1280px) {
  .skills_wrapper {
    margin-bottom: 282px;
  }
  .skills_title {
    margin-bottom: 96px;
  }
  .skills_cards {
    gap: 18px;
  }
  .skills_card {
    padding: 16px 43px 92px 43px;
  }
}
.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-bottom: 114px;
}

.about_title {
  margin-bottom: 50px;
}

.about_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_image img {
  max-width: 100%;
}

.about_content_top {
  margin-bottom: 35px;
}

.about_card_title {
  display: none;
}

.about_card_desc {
  text-align: center;
}

.about_content_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.about_content_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media (min-width: 480px) {
  .about_image img {
    max-width: 352px;
  }
  .about_content_bottom {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }
}
@media (min-width: 575px) {
  .about_wrapper {
    margin-bottom: 175px;
  }
  .about_image img {
    max-width: 400px;
  }
  .about_content_top {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 114px;
    gap: 78px;
  }
  .about_title {
    display: none;
  }
  .about_image {
    order: 2;
  }
  .about_image img {
    max-width: 295px;
  }
  .about_content {
    order: 1;
    flex: 1;
  }
  .about_content_top {
    margin-bottom: 24px;
  }
  .about_card_title {
    display: flex;
    margin-bottom: 24px;
  }
  .about_card_desc {
    text-align: start;
    margin-bottom: 0;
  }
  .about_content_bottom {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 860px) {
  .about_wrapper {
    gap: 64px;
    margin-bottom: 175px;
  }
  .about_content_bottom {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .about_image img {
    max-width: 436px;
  }
  .about_content_bottom {
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .about_wrapper {
    gap: 194px;
    margin-bottom: 240px;
  }
  .about_image img {
    max-width: 500px;
  }
  .about_content_top {
    margin-bottom: 44px;
  }
  .about_card_title {
    margin-bottom: 50px;
  }
  .about_content_bottom {
    width: 94%;
    justify-content: space-between;
  }
}
.pricing_wrapper {
  margin-bottom: 100px;
}

.pricing_title {
  text-align: center;
  margin-bottom: 80px;
}

.pricing_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 63px;
}

.pricing_card {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: start;
}

.pricing_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing_card_image img {
  width: 90%;
}

.pricing_card_body_title {
  margin-bottom: 17px;
  text-align: center;
}

.pricing_card_body_desc {
  margin-bottom: 4px;
  text-align: center;
}

.pricing_card_body_price_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing_card_body_price_btn {
  background-color: #EEEEEE;
  min-height: 37px;
  padding: 0 13px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.pricing_card_body_price {
  font-family: P4;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}

.pricing_card_body_price_month {
  font-family: P4;
  font-size: 14px;
  line-height: 21px;
  color: #546269;
}

@media (min-width: 480px) {
  .pricing_wrapper {
    margin-bottom: 180px;
  }
  .pricing_title {
    margin-bottom: 84px;
  }
  .pricing_cards {
    row-gap: 70px;
  }
  .pricing_card {
    max-width: 417px;
    gap: 28px;
  }
  .pricing_card_image img {
    max-width: 291px;
  }
  .pricing_card_body_title {
    margin-bottom: 27.29px;
  }
  .pricing_card_body_desc {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
  }
  .pricing_card_body_price_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing_card_body_price_btn {
    background-color: #EEEEEE;
    min-height: 45px;
    padding: 0 20px;
  }
  .pricing_card_body_price {
    font-size: 22px;
    line-height: 33px;
  }
  .pricing_card_body_price_month {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 600px) {
  .pricing_cards {
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media (min-width: 768px) {
  .pricing_wrapper {
    margin-bottom: 95px;
  }
  .pricing_title {
    margin-bottom: 60px;
  }
  .pricing_cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }
  .pricing_card {
    width: 100%;
    gap: 23px;
  }
  .pricing_card_image img {
    width: 100%;
    height: 220px;
  }
  .pricing_card_body {
    display: flex;
    flex-direction: column;
  }
  .pricing_card_body_title {
    margin-bottom: 15px;
    text-align: start;
  }
  .pricing_card_body_desc {
    width: 100%;
    margin: 0;
    text-align: start;
  }
  .pricing_card_body_price_wrapper {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media (min-width: 992px) {
  .pricing_wrapper {
    margin-bottom: 160px;
  }
  .pricing_title {
    margin-bottom: 50px;
  }
  .pricing_cards {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
  .pricing_card_image {
    display: flex;
    justify-content: flex-start;
  }
  .pricing_card_image img {
    width: 100%;
    height: 242px;
  }
  .pricing_card_body_price {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .pricing_wrapper {
    margin-bottom: 300px;
  }
  .pricing_title {
    margin-bottom: 80px;
  }
  .pricing_cards {
    width: 100%;
    -moz-column-gap: 52px;
         column-gap: 52px;
  }
  .pricing_card {
    gap: 30px;
  }
  .pricing_card_image img {
    max-width: 311px;
    height: 340px;
  }
  .pricing_card:nth-child(2) .pricing_card_image img {
    max-width: 391px;
  }
  .pricing_card:nth-child(3) .pricing_card_image img {
    max-width: 340px;
  }
  .pricing_card_body_title {
    margin-bottom: 19px;
  }
  .pricing_card_body_price_btn {
    padding: 0 24px;
    gap: 14px;
  }
  .pricing_card_body_price {
    font-size: 24px;
    line-height: 36px;
  }
}
.contact_wrapper {
  padding-bottom: 57px;
  border-bottom: 1px solid #C4C4C4;
}

.contact_title {
  text-align: center;
  margin-bottom: 53px;
}

.contact_image {
  max-width: 358px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;
}

.content_title {
  display: none;
}

.contact_desc {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 31px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
}

.contact_form_input {
  width: 100%;
  min-height: 50px;
  outline: none;
  text-indent: 26px;
  border: 1px solid #8F95A5;
  border-radius: 5px;
  color: var(--third-color);
  font-size: 12px;
  line-height: 18px;
}
.contact_form_input ::-moz-placeholder {
  color: #8F95A5;
}
.contact_form_input ::placeholder {
  color: #8F95A5;
}

.contact_form_btn {
  width: 100%;
  min-height: 60px;
}

@media (min-width: 480px) {
  .contact_desc {
    width: 84%;
  }
}
@media (min-width: 575px) {
  .contact_wrapper {
    padding-bottom: 143px;
  }
  .contact_title {
    margin-bottom: 100px;
  }
  .contact_image {
    margin-bottom: 33px;
  }
  .content_title {
    display: none;
  }
  .contact_desc {
    margin-bottom: 59px;
  }
  .contact_form {
    max-width: 550px;
    height: 61px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #8F95A5;
    gap: 6px;
  }
  .contact_form_input {
    flex: 1;
    width: auto;
    min-height: auto;
    text-indent: 25px;
    border: none;
    font-size: 13px;
    line-height: 19.5px;
  }
  .contact_form_btn {
    width: auto;
    min-height: auto;
    padding: 0 56px;
  }
}
@media (min-width: 768px) {
  .contact_wrapper {
    display: flex;
    align-items: center;
    gap: 38px;
  }
  .contact_image {
    max-width: 358px;
    margin-bottom: 0;
  }
  .contact_title {
    display: none;
    margin-bottom: 35px;
  }
  .contact_form {
    margin: 0;
    border: none;
  }
  .contact_form_input {
    border: 1px solid #8F95A5;
  }
  .contact_desc {
    width: 80%;
    text-align: start;
    margin: 0;
    margin-bottom: 26px;
  }
  .content_title {
    display: flex;
  }
}
@media (min-width: 992px) {
  .contact_wrapper {
    padding-bottom: 157px;
  }
  .contact_wrapper {
    gap: 108px;
  }
  .contact_form_input {
    border-radius: 10px;
    font-size: 14px;
    line-height: 21px;
  }
  .contact_form_btn {
    border-radius: 10px;
  }
}
@media (min-width: 1280px) {
  .contact_wrapper {
    padding-bottom: 157px;
  }
  .contact_wrapper {
    gap: 108px;
  }
  .contact_image {
    max-width: 477px;
  }
  .contact_image img {
    width: 100%;
    height: 100%;
  }
  .contact_content {
    flex: 1;
  }
  .contact_title {
    margin-bottom: 48px;
  }
  .contact_desc {
    width: 100%;
    margin: 0;
    margin-bottom: 48px;
  }
  .contact_form {
    max-width: 726px;
    min-height: 80px;
    gap: 12px;
  }
  .contact_form_input {
    text-indent: 33px;
    font-size: 16px;
    line-height: 24px;
  }
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 44px;
  padding-bottom: 46px;
}

.footer_logo {
  margin-bottom: 33px;
}

.footer_desc {
  font-family: P5;
  font-size: 11px;
  line-height: 16.5px;
  color: #8F95A5;
  text-align: center;
}

@media (min-width: 575px) {
  .footer_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 41px;
  }
  .footer_logo {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer_wrapper {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .footer_wrapper {
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .footer_wrapper {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}